.character-list-container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    min-width: 1200px
  }
  
  .character-card {
    margin: 16px;
    background-color: #000; 
    color: white; 
    width: 200px;
  }
  
  .character-card h2, .character-card p {
    color: white; 
  }
  
  .no-results {
    text-align: center;
    font-size: 18px;
    color: white;
  }
  
  .favorite-icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }