.page-main-content {
  background-color: #292929;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.has-header {
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.bg-white {
  background: white;
}
.content-wrapper {
  width: 100%;
  max-width: 1200px; 
  padding: 20px;
}

.content-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
