<div class="home-container" fxLayout="column">
    <div class="home-header" fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
        <h1 class="color-white">Início</h1>
        <h2 class="color-white"><app-home-search></app-home-search></h2>
    </div>

    <ng-container *ngIf="loading$ | async as loading; else loading">
        <app-spinner [size]="20" [shouldShow]="loading"></app-spinner>
    </ng-container>
    <ng-template #loading>
        <div class="home-content mt-4" fxLayout="column" fxLayoutAlign="center center">
            <app-character-list [data]="characters$ | async"></app-character-list>
        </div>
    </ng-template>
</div>