<div class="home-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="home-header" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
      <h1 class="color-white">Início</h1>
      <h2 class="color-white">Pesquisa</h2>
    </div>
    
    <div class="home-content white" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <!-- Adicione aqui o componente de lista de cards -->
      <h3 class="color-white">Content</h3>
    </div>
  </div>
  