.mat-form-field-appearance-outline .mat-form-field-flex, .mat-form-field-outline {
  width:300px;
}

mat-label{
  color: white; 
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: white;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white;
}