.mat-form-field-appearance-outline .mat-form-field-flex, .mat-form-field-outline {
  width:300px;
}

mat-label{
  color: white; 
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: white;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white;
}

.creepster-title {
  font-family: 'Creepster', cursive !important;
  font-size: xx-large !important;
  color: #00FF00; 
  text-shadow: 0 0 1px #00FF00, 0 0 1px #00FF00, 0 0 1px #00FF00, 0 0 1px #00FF00, 0 0 1px #00FF00, 0 0 30px #00FF00, 0 0 35px #00FF00;  padding: 10px; /* Adiciona algum padding ao redor do texto */
  border-radius: 5px; 
}


.creepster-title-content {
  font-family: 'Creepster', cursive !important;
}